In [2]:
import pandas as pd

In [3]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
table_1=r"C:\Users\Lenovo\Desktop\GUVI\PROJECT VACCINATION\vaccine-introduction-data.xlsx"
table_1##r to fix unicode error

'C:\\Users\\Lenovo\\Desktop\\GUVI\\PROJECT VACCINATION\\vaccine-introduction-data.xlsx'

In [5]:
v_intro_data=pd.read_excel(table_1)

In [6]:
v_intro_data.head()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO
0,AFG,Afghanistan,EMRO,2023.0,aP (acellular pertussis) vaccine,No
1,AFG,Afghanistan,EMRO,2023.0,Hepatitis A vaccine,No
2,AFG,Afghanistan,EMRO,2023.0,Hepatitis B vaccine,Yes
3,AFG,Afghanistan,EMRO,2023.0,HepB birth dose,Yes
4,AFG,Afghanistan,EMRO,2023.0,Hib (Haemophilus influenzae type B) vaccine,Yes

In [7]:
v_intro_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138321 entries, 0 to 138320
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ISO_3_CODE   138321 non-null  object
 1   COUNTRYNAME  138320 non-null  object
 2   WHO_REGION   138320 non-null  object
 3   YEAR         138320 non-null  float64
 4   DESCRIPTION  138320 non-null  object
 5   INTRO        138320 non-null  object
dtypes: float64(1), object(5)
memory usage: 6.3+ MB

In [8]:
v_intro_data.duplicated().sum()

np.int64(0)

In [9]:
v_intro_data.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    1
WHO_REGION     1
YEAR           1
DESCRIPTION    1
INTRO          1
dtype: int64

In [10]:
##drop specific null row from specific col 
v_intro_data.dropna(subset=["COUNTRYNAME"],inplace =True)

In [11]:
##checking the null value again after dropping row
v_intro_data.isnull().sum()

ISO_3_CODE     0
COUNTRYNAME    0
WHO_REGION     0
YEAR           0
DESCRIPTION    0
INTRO          0
dtype: int64

TABLE 2

TABLE 2

In [12]:
table_2=r"C:\Users\Lenovo\Desktop\GUVI\PROJECT VACCINATION\incidence-rate-data.xlsx"
table_2

'C:\\Users\\Lenovo\\Desktop\\GUVI\\PROJECT VACCINATION\\incidence-rate-data.xlsx'

In [13]:
incidence_data=pd.read_excel(table_2)
incidence_data

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,"per 10,000 live births",0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,"per 1,000,000 total population",0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,"per 1,000,000 total population",9.3
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,"per 1,000,000 total population",NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,"per 1,000,000 total population",0.0
...,...,...,...,...,...,...,...,...
84941,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",893.3
84942,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",NaN
84943,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,"per 1,000,000 total population",19.7
84944,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,"per 1,000,000 total population",NaN
84945,Created: 2025-02-01 16:03 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
incidence_data.rename(columns={"GROUP":"GROUP_TYPE"},inplace=True)

In [15]:
incidence_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84946 entries, 0 to 84945
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP_TYPE           84946 non-null  object
 1   CODE                 84945 non-null  object
 2   NAME                 84945 non-null  object
 3   YEAR                 84945 non-null  float64
 4   DISEASE              84945 non-null  object
 5   DISEASE_DESCRIPTION  84945 non-null  object
 6   DENOMINATOR          84945 non-null  object
 7   INCIDENCE_RATE       61584 non-null  float64
dtypes: float64(2), object(6)
memory usage: 5.2+ MB

In [16]:
incidence_data.isna().sum()

GROUP_TYPE                 0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
DENOMINATOR                1
INCIDENCE_RATE         23362
dtype: int64

In [17]:
##drop specific null row from specific col 
incidence_data.dropna(subset=["NAME"],inplace =True)

In [18]:
incidence_data.isnull().sum()

GROUP_TYPE                 0
CODE                       0
NAME                       0
YEAR                       0
DISEASE                    0
DISEASE_DESCRIPTION        0
DENOMINATOR                0
INCIDENCE_RATE         23361
dtype: int64

In [19]:
# Create a mask for NaN values before filling
nan_mask = incidence_data['INCIDENCE_RATE'].isna()

In [20]:
incidence_data.duplicated().sum()

np.int64(0)

In [21]:
incidence_data.describe()

               YEAR  INCIDENCE_RATE
count  84945.000000    61584.000000
mean    2004.095791      109.448781
std       12.595166      992.276983
min     1980.000000        0.000000
25%     1994.000000        0.000000
50%     2005.000000        0.000000
75%     2015.000000        4.600000
max     2023.000000    69101.300000

In [22]:
incidence_data["NAME"]

0           Aruba
1           Aruba
2           Aruba
3           Aruba
4           Aruba
           ...
84940    Zimbabwe
84941    Zimbabwe
84942    Zimbabwe
84943    Zimbabwe
84944    Zimbabwe
Name: NAME, Length: 84945, dtype: object

In [23]:
##groupby 
incidence_data["NAME"].value_counts()

NAME
Global                                                                    424
South-East Asia Region                                                    415
European Region                                                           414
Thailand                                                                  414
African Region                                                            411
                                                                         ...
occupied Palestinian territory, including east Jerusalem                  142
Aruba                                                                      67
Kosovo (in accordance with UN Security Council resolution 1244 (1999))     46
Curaçao                                                                    30
Sint Maarten (Dutch part)                                                  21
Name: count, Length: 221, dtype: int64

In [24]:
grouped_df=incidence_data.groupby(["NAME"])["INCIDENCE_RATE"].mean()
grouped_df

NAME
Afghanistan                                                 115.708261
African Region                                              189.389770
Albania                                                     161.776190
Algeria                                                      42.426296
American Samoa                                               97.019394
                                                               ...
Western Pacific Region                                       50.552815
Yemen                                                       206.285593
Zambia                                                      477.317895
Zimbabwe                                                    172.841892
occupied Palestinian territory, including east Jerusalem     18.731429
Name: INCIDENCE_RATE, Length: 221, dtype: float64

In [25]:
##REPLACING THE NULL VALUE groupby name of the countries where value is null
incidence_data['INCIDENCE_RATE'] = incidence_data['INCIDENCE_RATE'].fillna(incidence_data.groupby('NAME')['INCIDENCE_RATE'].transform('mean'))

In [26]:
##again checking the null value after replacing 
incidence_data.isnull().sum()

GROUP_TYPE             0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
DENOMINATOR            0
INCIDENCE_RATE         0
dtype: int64

In [27]:
# Create a new column to indicate where NaN was replaced
incidence_data['replaced_with_mean'] = nan_mask

In [28]:
# Show rows where NaN was replaced
print(incidence_data[incidence_data['replaced_with_mean']])

      GROUP_TYPE CODE         NAME    YEAR          DISEASE  \
3      COUNTRIES  ABW        Aruba  2023.0          MEASLES
8      COUNTRIES  ABW        Aruba  2023.0          RUBELLA
38     COUNTRIES  ABW        Aruba  2019.0           JAPENC
49     COUNTRIES  ABW        Aruba  2018.0           JAPENC
69     COUNTRIES  AFG  Afghanistan  2023.0  INVASIVE_MENING
...          ...  ...          ...     ...              ...
84930  COUNTRIES  ZWE     Zimbabwe  1982.0           YFEVER
84935  COUNTRIES  ZWE     Zimbabwe  1981.0            POLIO
84937  COUNTRIES  ZWE     Zimbabwe  1981.0           YFEVER
84942  COUNTRIES  ZWE     Zimbabwe  1980.0            POLIO
84944  COUNTRIES  ZWE     Zimbabwe  1980.0           YFEVER

                  DISEASE_DESCRIPTION                     DENOMINATOR  \
3                             Measles  per 1,000,000 total population
8                             Rubella  per 1,000,000 total population
38              Japanese encephalitis  per 1,000,000 total population
49              Japanese encephalitis  per 1,000,000 total population
69     Invasive meningococcal disease  per 1,000,000 total population
...                               ...                             ...
84930                    Yellow fever  per 1,000,000 total population
84935                   Poliomyelitis    per 1,000,000 <15 population
84937                    Yellow fever  per 1,000,000 total population
84942                   Poliomyelitis    per 1,000,000 <15 population
84944                    Yellow fever  per 1,000,000 total population

       INCIDENCE_RATE  replaced_with_mean
3            2.377778                True
8            2.377778                True
38           2.377778                True
49           2.377778                True
69         115.708261                True
...               ...                 ...
84930      172.841892                True
84935      172.841892                True
84937      172.841892                True
84942      172.841892                True
84944      172.841892                True

[23361 rows x 9 columns]

In [29]:
incidence_data.tail()

,GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE,replaced_with_mean
84940,COUNTRIES,ZWE,Zimbabwe,1980.0,NTETANUS,Neonatal tetanus,"per 1,000 live births",0.400000,False
84941,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",893.300000,False
84942,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",172.841892,True
84943,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,"per 1,000,000 total population",19.700000,False
84944,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,"per 1,000,000 total population",172.841892,True

In [30]:
incidence_data.sample(5)

,GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE,replaced_with_mean
1738,COUNTRIES,ALB,Albania,2009.0,TTETANUS,Total tetanus,"per 1,000,000 total population",0.000000,False
42243,COUNTRIES,KWT,Kuwait,1996.0,YFEVER,Yellow fever,"per 1,000,000 total population",32.917004,True
72784,COUNTRIES,SYR,Syrian Arab Republic,2006.0,RUBELLA,Rubella,"per 1,000,000 total population",1.500000,False
18433,COUNTRIES,CUB,Cuba,2022.0,POLIO,Poliomyelitis,"per 1,000,000 <15 population",0.000000,False
36714,COUNTRIES,IRQ,Iraq,1990.0,PERTUSSIS,Pertussis,"per 1,000,000 total population",6.900000,False

In [31]:
table_3=r"c:\Users\Lenovo\Desktop\GUVI\PROJECT VACCINATION\reported-cases-data.xlsx"
table_3

'c:\\Users\\Lenovo\\Desktop\\GUVI\\PROJECT VACCINATION\\reported-cases-data.xlsx'

In [102]:
reported_case.rename(columns={"GROUP":"GROUP_TYPE"},inplace=True)

In [101]:
reported_case=pd.read_excel(table_3)
reported_case

,GROUP,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0
...,...,...,...,...,...,...,...
84865,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,6290.0
84866,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,32.0
84867,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,139.0
84868,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,NaN
84869,Created: 2025-02-01 16:02 UTC,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
reported_case.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84870 entries, 0 to 84869
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GROUP_TYPE           84870 non-null  object
 1   CODE                 84869 non-null  object
 2   NAME                 84869 non-null  object
 3   YEAR                 84869 non-null  float64
 4   DISEASE              84869 non-null  object
 5   DISEASE_DESCRIPTION  84869 non-null  object
 6   CASES                65470 non-null  float64
dtypes: float64(2), object(5)
memory usage: 4.5+ MB

In [104]:
reported_case.isnull().sum()

GROUP_TYPE                 0
CODE                       1
NAME                       1
YEAR                       1
DISEASE                    1
DISEASE_DESCRIPTION        1
CASES                  19400
dtype: int64

In [105]:
reported_case.dropna(subset=["NAME"],inplace=True)
reported_case

,GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES
0,COUNTRIES,ABW,Aruba,2023.0,CRS,Congenital rubella syndrome,0.0
1,COUNTRIES,ABW,Aruba,2023.0,DIPHTHERIA,Diphtheria,0.0
2,COUNTRIES,ABW,Aruba,2023.0,INVASIVE_MENING,Invasive meningococcal disease,1.0
3,COUNTRIES,ABW,Aruba,2023.0,MEASLES,Measles,NaN
4,COUNTRIES,ABW,Aruba,2023.0,MUMPS,Mumps,0.0
...,...,...,...,...,...,...,...
84864,COUNTRIES,ZWE,Zimbabwe,1980.0,NTETANUS,Neonatal tetanus,134.0
84865,COUNTRIES,ZWE,Zimbabwe,1980.0,PERTUSSIS,Pertussis,6290.0
84866,COUNTRIES,ZWE,Zimbabwe,1980.0,POLIO,Poliomyelitis,32.0
84867,COUNTRIES,ZWE,Zimbabwe,1980.0,TTETANUS,Total tetanus,139.0
84868,COUNTRIES,ZWE,Zimbabwe,1980.0,YFEVER,Yellow fever,NaN

In [106]:
reported_case.duplicated().sum()

np.int64(0)

In [107]:
reported_case.isnull().sum()

GROUP_TYPE                 0
CODE                       0
NAME                       0
YEAR                       0
DISEASE                    0
DISEASE_DESCRIPTION        0
CASES                  19399
dtype: int64

In [108]:
# Create a mask for NaN values before filling
nan_mask = reported_case['CASES'].isna()

In [109]:
reported_case.describe()

               YEAR         CASES
count  84869.000000  6.547000e+04
mean    2004.108261  4.472409e+03
std       12.591396  6.114455e+04
min     1980.000000  0.000000e+00
25%     1994.000000  0.000000e+00
50%     2005.000000  1.000000e+00
75%     2015.000000  6.300000e+01
max     2023.000000  4.583555e+06

In [110]:
grouped_df=reported_case.groupby(["NAME"])["CASES"].median()
grouped_df

NAME
Afghanistan                                                  121.0
African Region                                              3468.0
Albania                                                        0.0
Algeria                                                        9.0
American Samoa                                                 0.0
                                                             ...
Western Pacific Region                                      2207.0
Yemen                                                        132.0
Zambia                                                        26.0
Zimbabwe                                                       3.0
occupied Palestinian territory, including east Jerusalem       0.0
Name: CASES, Length: 221, dtype: float64

In [111]:
##replacing the null cases by median value because the fluactation is moore 
reported_case["CASES"]=reported_case["CASES"].fillna(reported_case.groupby('NAME')['CASES'].transform('median'))

In [112]:
#checking the nul value after droping the cases null cases 
reported_case.isnull().sum()

GROUP_TYPE             0
CODE                   0
NAME                   0
YEAR                   0
DISEASE                0
DISEASE_DESCRIPTION    0
CASES                  0
dtype: int64

TABLE 4

In [43]:
import pandas as pd

In [44]:
table_4=r"C:\Users\Lenovo\Desktop\GUVI\PROJECT VACCINATION\coverage-data.xlsx"
table_4

'C:\\Users\\Lenovo\\Desktop\\GUVI\\PROJECT VACCINATION\\coverage-data.xlsx'

In [45]:
coverage_data=pd.read_excel(table_4)
coverage_data

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
0,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,ADMIN,Administrative coverage,NaN,NaN,NaN
1,COUNTRIES,ABW,Aruba,2023.0,BCG,BCG,OFFICIAL,Official coverage,NaN,NaN,NaN
2,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",ADMIN,Administrative coverage,1044.0,945.0,90.52
3,COUNTRIES,ABW,Aruba,2023.0,DIPHCV4,"Diphtheria-containing vaccine, 4th dose (1st b...",OFFICIAL,Official coverage,NaN,NaN,90.52
4,COUNTRIES,ABW,Aruba,2023.0,DIPHCV5,"Diphtheria-containing vaccine, 5th dose (2nd b...",ADMIN,Administrative coverage,1219.0,1008.0,82.69
...,...,...,...,...,...,...,...,...,...,...,...
399854,WHO_REGIONS,WPR,Western Pacific Region,1980.0,MCV1,"Measles-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,27939588.0,1209026.0,4.00
399855,WHO_REGIONS,WPR,Western Pacific Region,1980.0,PAB,Protection at birth (PAB) against neonatal tet...,PAB,PAB Estimates,4494513.0,276306.0,6.00
399856,WHO_REGIONS,WPR,Western Pacific Region,1980.0,POL3,"Polio, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,27939588.0,1296611.0,5.00
399857,WHO_REGIONS,WPR,Western Pacific Region,1980.0,RCV1,"Rubella-containing vaccine, 1st dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,27939588.0,40245.0,0.00
399858,Created: 2025-02-01 16:00 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
coverage_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399859 entries, 0 to 399858
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   GROUP                          399859 non-null  object
 1   CODE                           399858 non-null  object
 2   NAME                           398584 non-null  object
 3   YEAR                           399858 non-null  float64
 4   ANTIGEN                        399858 non-null  object
 5   ANTIGEN_DESCRIPTION            399858 non-null  object
 6   COVERAGE_CATEGORY              399858 non-null  object
 7   COVERAGE_CATEGORY_DESCRIPTION  399858 non-null  object
 8   TARGET_NUMBER                  79030 non-null   float64
 9   DOSES                          79327 non-null   float64
 10  COVERAGE                       230477 non-null  float64
dtypes: float64(4), object(7)
memory usage: 33.6+ MB

In [47]:
coverage_data.isnull().sum()

GROUP                                 0
CODE                                  1
NAME                               1275
YEAR                                  1
ANTIGEN                               1
ANTIGEN_DESCRIPTION                   1
COVERAGE_CATEGORY                     1
COVERAGE_CATEGORY_DESCRIPTION         1
TARGET_NUMBER                    320829
DOSES                            320532
COVERAGE                         169382
dtype: int64

In [48]:
grouped_df=coverage_data.groupby(["YEAR"])["TARGET_NUMBER"].median()
grouped_df

YEAR
1980.0    12802629.0
1981.0    12677940.0
1982.0    12623882.0
1983.0    12570896.0
1984.0    12842820.0
1985.0    13110054.0
1986.0    13235003.0
1987.0    13251670.0
1988.0    13173985.0
1989.0    13116219.0
1990.0    13437682.0
1991.0    13378381.0
1992.0    14020368.5
1993.0    14240460.0
1994.0    13985735.0
1995.0    14164717.0
1996.0    14316318.0
1997.0    14067487.0
1998.0    14034773.0
1999.0      529860.0
2000.0      324857.0
2001.0      371710.0
2002.0      427273.0
2003.0      316419.0
2004.0      298981.0
2005.0      283657.0
2006.0      358320.0
2007.0      324900.0
2008.0      289749.0
2009.0      245568.0
2010.0      361466.0
2011.0      325193.0
2012.0      314609.0
2013.0      335498.0
2014.0      279740.0
2015.0      288115.5
2016.0      330461.0
2017.0      264475.0
2018.0      190515.5
2019.0      182244.0
2020.0      217748.5
2021.0      188276.0
2022.0      176940.0
2023.0      171870.0
Name: TARGET_NUMBER, dtype: float64

In [49]:
grouped_df=coverage_data.groupby(["YEAR"])["DOSES"].median()
grouped_df

YEAR
1980.0    1768033.0
1981.0    2665664.5
1982.0    3423265.0
1983.0    4408145.0
1984.0    5434654.0
1985.0    5046735.0
1986.0    5647997.0
1987.0    6252578.0
1988.0    7013557.0
1989.0    7970050.0
1990.0    6300295.0
1991.0    5771536.5
1992.0    5799003.5
1993.0    6100070.5
1994.0    6761307.0
1995.0    6976562.0
1996.0    7055291.0
1997.0    6397357.0
1998.0    6817465.0
1999.0     242576.0
2000.0     148952.0
2001.0     162488.0
2002.0     236086.0
2003.0     208851.0
2004.0     197885.0
2005.0     172554.5
2006.0     208739.0
2007.0     170668.5
2008.0     179578.5
2009.0     175924.5
2010.0     123805.0
2011.0     132752.0
2012.0     145303.0
2013.0     152274.0
2014.0     152212.0
2015.0     156979.0
2016.0     155347.0
2017.0     144182.0
2018.0      94120.0
2019.0      98163.5
2020.0     131537.0
2021.0     104762.5
2022.0      91914.0
2023.0      86921.0
Name: DOSES, dtype: float64

In [50]:
grouped_df=coverage_data.groupby(["YEAR"])["COVERAGE"].median()
grouped_df

YEAR
1980.0    41.000
1981.0    43.000
1982.0    50.000
1983.0    55.000
1984.0    56.000
1985.0    59.000
1986.0    67.000
1987.0    70.000
1988.0    74.000
1989.0    79.500
1990.0    84.000
1991.0    83.000
1992.0    84.000
1993.0    84.000
1994.0    86.000
1995.0    88.000
1996.0    89.000
1997.0    89.000
1998.0    88.000
1999.0    89.000
2000.0    89.000
2001.0    89.000
2002.0    90.000
2003.0    91.000
2004.0    91.000
2005.0    92.000
2006.0    92.000
2007.0    92.000
2008.0    93.000
2009.0    93.000
2010.0    91.750
2011.0    91.400
2012.0    92.000
2013.0    91.440
2014.0    91.200
2015.0    91.130
2016.0    91.625
2017.0    91.000
2018.0    90.770
2019.0    90.980
2020.0    87.100
2021.0    86.400
2022.0    88.000
2023.0    88.000
Name: COVERAGE, dtype: float64

In [51]:
##replacing the below col with median 
coverage_data["TARGET_NUMBER"]=coverage_data["TARGET_NUMBER"].fillna(coverage_data.groupby('YEAR')['TARGET_NUMBER'].transform('median'))
coverage_data["DOSES"]=coverage_data["DOSES"].fillna(coverage_data.groupby('YEAR')['DOSES'].transform('median'))
coverage_data["COVERAGE"]=coverage_data["COVERAGE"].fillna(coverage_data.groupby('YEAR')['COVERAGE'].transform('median'))

In [52]:
coverage_data.fillna("--",inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_30352\1871019552.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '--' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  coverage_data.fillna("--",inplace=True)

In [53]:
#checking the null value again 
coverage_data.isnull().sum()

GROUP                            0
CODE                             0
NAME                             0
YEAR                             0
ANTIGEN                          0
ANTIGEN_DESCRIPTION              0
COVERAGE_CATEGORY                0
COVERAGE_CATEGORY_DESCRIPTION    0
TARGET_NUMBER                    0
DOSES                            0
COVERAGE                         0
dtype: int64

In [54]:
coverage_data.dropna(subset=["CODE"],inplace =True)

In [55]:
coverage_data.isnull().sum()

GROUP                            0
CODE                             0
NAME                             0
YEAR                             0
ANTIGEN                          0
ANTIGEN_DESCRIPTION              0
COVERAGE_CATEGORY                0
COVERAGE_CATEGORY_DESCRIPTION    0
TARGET_NUMBER                    0
DOSES                            0
COVERAGE                         0
dtype: int64

In [56]:
##checking the final dataframe 
coverage_data.sample(5)

,GROUP,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE
68355,COUNTRIES,CMR,Cameroon,2000.0,YFV,Yellow fever vaccine,ADMIN,Administrative coverage,324857.0,148952.0,89.0
110749,COUNTRIES,ETH,Ethiopia,2004.0,YFV,Yellow fever vaccine,WUENIC,WHO/UNICEF Estimates of National Immunization ...,298981.0,197885.0,91.0
288164,COUNTRIES,ROU,Romania,2005.0,BCG,BCG,ADMIN,Administrative coverage,218182.0,214909.0,98.5
317007,COUNTRIES,SVK,Slovakia,2018.0,HEPB3,"HepB, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,190515.5,94120.0,96.0
163577,COUNTRIES,ISR,Israel,2018.0,HEPB3,"HepB, 3rd dose",WUENIC,WHO/UNICEF Estimates of National Immunization ...,190515.5,94120.0,96.0

TABLE 5

In [57]:
table_5=r"C:\Users\Lenovo\Desktop\GUVI\PROJECT VACCINATION\vaccine-schedule-data.xlsx"
table_5

'C:\\Users\\Lenovo\\Desktop\\GUVI\\PROJECT VACCINATION\\vaccine-schedule-data.xlsx'

In [58]:
v_schedule_data=pd.read_excel(table_5)
v_schedule_data

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
0,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,1.0,NaN,General/routine,NATIONAL,M2,NaN
1,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,2.0,NaN,General/routine,NATIONAL,M4,NaN
2,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,3.0,NaN,General/routine,NATIONAL,M6,NaN
3,ABW,Aruba,AMRO,2023.0,DTAPHIBIPV,DTaP-Hib-IPV (acellular) vaccine,4.0,B_2YL_W,General/routine,NATIONAL,M15,NaN
4,ABW,Aruba,AMRO,2023.0,DTAPIPV,DTaP-IPV (acellular) vaccine,5.0,B_CHILD_W,General/routine,NATIONAL,Y4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
8048,ZWE,Zimbabwe,AFRO,2023.0,VITAMINA,Vitamin A supplements,3.0,NaN,General/routine,NATIONAL,M18,M6-M59
8049,ZWE,Zimbabwe,AFRO,2023.0,VITAMINA,Vitamin A supplements,4.0,NaN,General/routine,NATIONAL,M24,M6-M59
8050,ZWE,Zimbabwe,AFRO,2023.0,VITAMINA,Vitamin A supplements,5.0,NaN,General/routine,NATIONAL,M30,M6-M59
8051,ZWE,Zimbabwe,AFRO,2023.0,VITAMINA,Vitamin A supplements,6.0,NaN,General/routine,NATIONAL,M36,M6-M59
8052,Created: 2025-02-01 16:10 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
v_schedule_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8053 entries, 0 to 8052
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ISO_3_CODE             8053 non-null   object
 1   COUNTRYNAME            8052 non-null   object
 2   WHO_REGION             8052 non-null   object
 3   YEAR                   8052 non-null   float64
 4   VACCINECODE            8052 non-null   object
 5   VACCINE_DESCRIPTION    8052 non-null   object
 6   SCHEDULEROUNDS         8052 non-null   float64
 7   TARGETPOP              3795 non-null   object
 8   TARGETPOP_DESCRIPTION  8052 non-null   object
 9   GEOAREA                8022 non-null   object
 10  AGEADMINISTERED        7007 non-null   object
 11  SOURCECOMMENT          5139 non-null   object
dtypes: float64(2), object(10)
memory usage: 755.1+ KB

In [60]:
v_schedule_data["ISO_3_CODE"]

0                                 ABW
1                                 ABW
2                                 ABW
3                                 ABW
4                                 ABW
                    ...
8048                              ZWE
8049                              ZWE
8050                              ZWE
8051                              ZWE
8052    Created: 2025-02-01 16:10 UTC
Name: ISO_3_CODE, Length: 8053, dtype: object

In [61]:
v_schedule_data.isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 1
WHO_REGION                  1
YEAR                        1
VACCINECODE                 1
VACCINE_DESCRIPTION         1
SCHEDULEROUNDS              1
TARGETPOP                4258
TARGETPOP_DESCRIPTION       1
GEOAREA                    31
AGEADMINISTERED          1046
SOURCECOMMENT            2914
dtype: int64

In [62]:
v_schedule_data.describe()

              YEAR  SCHEDULEROUNDS
count  8052.000000     8052.000000
mean   2022.941505        2.053403
std       0.441237        1.316560
min    2019.000000        1.000000
25%    2023.000000        1.000000
50%    2023.000000        2.000000
75%    2023.000000        3.000000
max    2023.000000        7.000000

In [63]:
v_schedule_data.duplicated().sum()

np.int64(0)

In [64]:
v_schedule_data.dropna(subset=["TARGETPOP"],inplace=True)

In [65]:
v_schedule_data.isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 0
WHO_REGION                  0
YEAR                        0
VACCINECODE                 0
VACCINE_DESCRIPTION         0
SCHEDULEROUNDS              0
TARGETPOP                   0
TARGETPOP_DESCRIPTION       0
GEOAREA                    16
AGEADMINISTERED          1026
SOURCECOMMENT             504
dtype: int64

In [66]:
v_schedule_data["GEOAREA"].mode()[0]

'NATIONAL'

In [67]:
##fill the geoarea to mode 
v_schedule_data["GEOAREA"]=v_schedule_data["GEOAREA"].fillna(v_schedule_data["GEOAREA"].mode()[0])

In [68]:
v_schedule_data.isnull().sum()

ISO_3_CODE                  0
COUNTRYNAME                 0
WHO_REGION                  0
YEAR                        0
VACCINECODE                 0
VACCINE_DESCRIPTION         0
SCHEDULEROUNDS              0
TARGETPOP                   0
TARGETPOP_DESCRIPTION       0
GEOAREA                     0
AGEADMINISTERED          1026
SOURCECOMMENT             504
dtype: int64

In [69]:
v_schedule_data["AGEADMINISTERED"].mode()[0]

'1st contact'

In [70]:
##fill the geoarea to mode 
v_schedule_data["AGEADMINISTERED"]=v_schedule_data["AGEADMINISTERED"].fillna(v_schedule_data["AGEADMINISTERED"].mode()[0])

In [71]:
v_schedule_data.isnull().sum()

ISO_3_CODE                 0
COUNTRYNAME                0
WHO_REGION                 0
YEAR                       0
VACCINECODE                0
VACCINE_DESCRIPTION        0
SCHEDULEROUNDS             0
TARGETPOP                  0
TARGETPOP_DESCRIPTION      0
GEOAREA                    0
AGEADMINISTERED            0
SOURCECOMMENT            504
dtype: int64

In [72]:
# where sourcecomment is null fill it with notmentioned comment 
v_schedule_data.fillna("Not mentioned",inplace =True)

In [73]:
v_schedule_data.isnull().sum()

ISO_3_CODE               0
COUNTRYNAME              0
WHO_REGION               0
YEAR                     0
VACCINECODE              0
VACCINE_DESCRIPTION      0
SCHEDULEROUNDS           0
TARGETPOP                0
TARGETPOP_DESCRIPTION    0
GEOAREA                  0
AGEADMINISTERED          0
SOURCECOMMENT            0
dtype: int64

In [74]:
v_schedule_data.sample(5)

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
137,ALB,Albania,EURO,2023.0,HPV4,HPV-4 (Human Papilloma Virus 4-valent) vaccine,1.0,FEMALE,HPV for females only,NATIONAL,Y13,Female from November 2022
2067,DJI,Djibouti,EMRO,2023.0,TD_S,Td (Tetanus toxoid and diphtheria for older ch...,1.0,PW,Pregnant women,NATIONAL,1st contact,Femmes enceintes
6814,SVN,Slovenia,EURO,2023.0,IPV,IPV (Inactivated polio vaccine),1.0,RISKGROUPS,Risk group(s),NATIONAL,1st contact,Epidemiological indications
7584,USA,United States of America,AMRO,2023.0,HEPB_ADULT,Adult Hepatitis B vaccine,2.0,ADULTS,Adults,NATIONAL,+M1,2 or 3 doses depending on vaccine
7984,ZMB,Zambia,AFRO,2023.0,HPV4,HPV-4 (Human Papilloma Virus 4-valent) vaccine,2.0,RISKGROUPS,Risk group(s),NATIONAL,+M2,"In 2023, Zambia also conducted an HPV Multi Ag..."

#CONNECTING PYTHON TO MY SQL

In [75]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [76]:
import pymysql

In [77]:
connection=pymysql.connect(
    host="localhost",
    user="root",
    password="Anuradha@12345",
    autocommit=True
    )  
print(connection)

<pymysql.connections.Connection object at 0x000001505749B9B0>

In [78]:
cursor=connection.cursor()

In [79]:
# cursor.execute("CREATE DATABASE VACCINATION_PROJECT")
# connection.commit()
# print("database created successfully")

In [80]:
cursor.execute("SHOW DATABASES")
for x in cursor:
   print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sqlpython3',)
('sys',)
('vaccination_project',)
('world',)

In [81]:
cursor.execute("USE vaccination_project")

0

In [82]:

create_table_query=""" 
CREATE TABLE IF NOT exists coverage_data(
    GROUP_TYPE varchar(300),
    CODE varchar(300),
    NAME varchar(300),
    YEAR int,
    ANTIGEN varchar(300),
    ANTIGEN_DESCRIPTION TEXT,
    COVERAGE_CATEGORY varchar(300),
    COVERAGE_CATEGORY_DESCRIPTION text,
    TARGET_NUMBER int,
    DOSES Bigint,
    COVERAGE decimal(10,2)
    )
"""
cursor.execute(create_table_query)
connection.commit()

In [83]:
# define the insert query
insert_query="""
INSERT INTO coverage_data( GROUP_TYPE,CODE,NAME,YEAR,ANTIGEN,ANTIGEN_DESCRIPTION,COVERAGE_CATEGORY,COVERAGE_CATEGORY_DESCRIPTION,TARGET_NUMBER,DOSES,COVERAGE) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [84]:
import numpy as np

In [85]:
coverage_data = coverage_data.replace({np.nan: None})

In [86]:
coverage_data.rename(columns={"GROUP":"GROUP_TYPE"},inplace=True)

In [87]:
create_table_query="""
CREATE TABLE IF NOT exists v_schedule_data(
    ISO_3_CODE varchar(300),
    COUNTRYNAME varchar(300),
    WHO_REGION varchar(300),
    YEAR int,
    VACCINECODE varchar(300),
    VACCINE_DESCRIPTION TEXT,
    SCHEDULEROUNDS int,
    TARGETPOP varchar(300),
    TARGETPOP_DESCRIPTION text,
    GEOAREA varchar(300),
    AGEADMINISTERED varchar(300),
    SOURCECOMMENT text
    )
"""
cursor.execute(create_table_query)
connection.commit()

In [88]:
v_schedule_data.sample()

,ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT
7635,USA,United States of America,AMRO,2023.0,TYPHOID_CONJ,Typhoid conjugate vaccine,2.0,TRAVELLERS,Travellers,NATIONAL,+Y5,For high-risk travelers - ongoing every 5 year...

In [89]:
data_list = v_schedule_data.values.tolist()
query = """
    INSERT INTO v_schedule_data( ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,VACCINECODE,VACCINE_DESCRIPTION,SCHEDULEROUNDS,TARGETPOP,TARGETPOP_DESCRIPTION,GEOAREA,AGEADMINISTERED,SOURCECOMMENT) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s, %s);
"""
cursor.executemany(query, data_list)
connection.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

In [90]:
v_intro_data.sample()

      ISO_3_CODE COUNTRYNAME WHO_REGION    YEAR          DESCRIPTION INTRO
61251        JAM     Jamaica       AMRO  2023.0  Hepatitis B vaccine   Yes

In [91]:
create_table_query="""
CREATE TABLE IF NOT exists v_intro_data(
    ISO_3_CODE varchar(300),
    COUNTRYNAME varchar(300),
    WHO_REGION varchar(300),
    YEAR int,
    DESCRIPTION text,
    INTRO varchar(300) 
    )
"""
cursor.execute(create_table_query)
connection.commit()

In [92]:
data_list = v_intro_data.values.tolist()
query = """
    INSERT INTO v_intro_data( ISO_3_CODE,COUNTRYNAME,WHO_REGION,YEAR,DESCRIPTION,INTRO) 
    VALUES (%s, %s, %s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
connection.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

INCIDENCE_RATE

In [93]:
incidence_data.sample()

,GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE,replaced_with_mean
62349,COUNTRIES,PRT,Portugal,2013.0,JAPENC,Japanese encephalitis,"per 1,000,000 total population",11.76231,True

In [94]:
incidence_data.rename(columns={"GROUP":"GROUP_TYPE"},inplace=True)

In [95]:
incidence_data.sample()

,GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE,replaced_with_mean
69395,COUNTRIES,SRB,Serbia,2002.0,YFEVER,Yellow fever,"per 1,000,000 total population",0.0,False

In [119]:
create_table_query="""
CREATE TABLE IF NOT exists incidence_data(
    GROUP_TYPE varchar(300),
    CODE varchar(300),
    NAME varchar(300),
    YEAR int,
    DISEASE varchar(300),
    DISEASE_DESCRIPTION varchar(300),
    DENOMINATOR text,
    INCIDENCE_RATE int,
    replaced_with_mean varchar(300)
    )
"""
cursor.execute(create_table_query)
connection.commit()

In [120]:
data_list = incidence_data.values.tolist()
query = """
    INSERT INTO incidence_data( GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,DENOMINATOR,INCIDENCE_RATE,replaced_with_mean) 
    VALUES (%s, %s, %s, %s, %s, %s,%s,%s,%s);
"""
cursor.executemany(query, data_list)
connection.commit()
print("Data inserted using to_list()")

Data inserted using to_list()

REPORTED CASE

In [113]:
reported_case.sample()

      GROUP_TYPE CODE    NAME    YEAR  DISEASE DISEASE_DESCRIPTION    CASES
48841  COUNTRIES  MEX  Mexico  1997.0  RUBELLA             Rubella  38042.0

In [116]:
create_table_query="""
CREATE TABLE IF NOT exists reported_case(
    GROUP_TYPE varchar(300),
    CODE varchar(300),
    NAME varchar(300),
    YEAR int,
    DISEASE varchar(300),
    DISEASE_DESCRIPTION varchar(300),
    CASES int
    )
"""
cursor.execute(create_table_query)
connection.commit()

In [ ]:
data_list = reported_case.values.tolist()
query = """
    INSERT INTO reported_case( GROUP_TYPE,CODE,NAME,YEAR,DISEASE,DISEASE_DESCRIPTION,CASES) 
    VALUES (%s, %s, %s, %s, %s, %s);
"""
cursor.executemany(query, data_list)
connection.commit()
print("Data inserted using to_list()")

Data inserted using to_list()